
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Fugaz+One&family=Nunito+Sans&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@600&family=Roboto&family=Roboto+Slab&display=swap');

.title{

    font-family: 'Bigelow Rules', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;

    font-size: 25px;
    color: whitesmoke;
    align-content: center;
  
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap:1em;
    padding: 10px;
    color: whitesmoke;



}
.card{
    display: inline;
    flex-wrap: wrap;
    text-align: center;
    

    color: whitesmoke;
    
}

